<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.leaf.clips">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
            android:name=".presenter.MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service android:name=".model.beacon.BeaconManagerAdapter" android:stopWithTask="true"/>

        <activity
                android:name=".presenter.MainActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".presenter.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value=".presenter.NavigationActivity"/>
        </activity>
        <activity android:name=".presenter.MainDeveloperPresenter">
        </activity>
        <activity
                android:name=".presenter.DeveloperUnlockerActivity"
                android:label="@string/title_activity_developer_unlocker"
                android:parentActivityName=".presenter.HomeActivity">
        </activity>
        <activity
                android:name=".presenter.MainDeveloperActivity"
                android:label="@string/title_activity_main_developer"
                android:parentActivityName=".presenter.HomeActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.HomeActivity"/>
        </activity>
        <activity
                android:name=".presenter.LoggingActivity"
                android:label="@string/title_activity_logging"
                android:parentActivityName=".presenter.MainDeveloperActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.MainDeveloperActivity"/>
        </activity>
        <activity android:name=".presenter.PoiCategoryActivity">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.HomeActivity"/>
        </activity>
        <activity
                android:name=".presenter.NearbyPoiActivity"
                android:label="@string/title_activity_nearby_poi"
                android:parentActivityName=".presenter.HomeActivity">
        </activity>
        <activity
                android:name=".presenter.LogInformationActivity"
                android:label="@string/title_activity_log_information"
                android:parentActivityName=".presenter.LoggingActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.LoggingActivity"/>
        </activity>
        <activity
                android:name=".presenter.NavigationActivity"
                android:label="@string/title_activity_navigation">

            <!-- to identify this activity as "searchable" -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.leaf.clips.presenter.HomeActivity"/>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>
        <activity android:name=".presenter.DetailedInformationActivity">
        </activity>
        <activity android:name=".presenter.ImageDetailActivity">
        </activity>
    </application>

</manifest>
